<div class="row">
    <div class="col-md-6">
        <a href="" class="btn btn-link" routerLink="/"><i class="fa fa-arrow-circle-o-left"></i> Back</a>
      </div>
      <div class="col-md-6">
        <div class="btn-group pull-right">
            <a [routerLink]="['/edit-client', id]" class="btn btn-secondary">Edit</a>
            <button type="button" class="btn btn-danger" (click)="deleteCleint()">Delete</button>
        </div>
      </div>
</div>
<hr>
<div class="card" *ngIf="client">
  <h3 class="card-header">{{client.firstName}} {{client.lastName}}</h3>
  <div class="card-block">
    <div class="row">
      <div class="col-md-6">
        <h4>Client Id: {{id}}</h4>
      </div>
      <div class="col-md-6">
        <h3 class="pull-right"> Balance:
          <span [class.text-danger]="hasBalanse" [class.text-success]="!hasbalance">{{client.balance | currency: "USD"}}</span>
          <small>
            <a (click)="showBalanceUpdateInput =! showBalanceUpdateInput"> <i class="fa fa-pencil"></i></a>
          </small>
         </h3> 
         <div class="clearfix">
           <form *ngIf="showBalanceUpdateInput" (submit)="updateClientBalance()" class="form-inline pull-right">
              <div class="form-group">
                <input type="number" [(ngModel)]="client.balance" name="balance" class="form-control">
              </div>
              <button type="submit" class="btn btn-primary">update</button>
           </form>
           
         </div>
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item">Email: {{client.email}}</li>
      <li class="list-group-item">Phone: {{client.phone}}</li>
    </ul>
  </div>
</div>